.cover__subtitle {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 360px;
  height: 66px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
}